
.hm-arrow-left:before { content: '\e800'; } /* '' */
.hm-arrow-right:before { content: '\e801'; } /* '' */
.hm-arrow-to-bottom:before { content: '\e802'; } /* '' */
.hm-arrow-to-top:before { content: '\e803'; } /* '' */
.hm-backspace:before { content: '\e804'; } /* '' */
.hm-camera:before { content: '\e805'; } /* '' */
.hm-check-circle:before { content: '\e806'; } /* '' */
.hm-clock-arrows:before { content: '\e807'; } /* '' */
.hm-clone:before { content: '\e808'; } /* '' */
.hm-cog:before { content: '\e809'; } /* '' */
.hm-cross:before { content: '\e80a'; } /* '' */
.hm-done:before { content: '\e80b'; } /* '' */
.hm-double-arrows:before { content: '\e80c'; } /* '' */
.hm-down:before { content: '\e80d'; } /* '' */
.hm-frame:before { content: '\e80e'; } /* '' */
.hm-globe:before { content: '\e80f'; } /* '' */
.hm-home:before { content: '\e810'; } /* '' */
.hm-lock:before { content: '\e811'; } /* '' */
.hm-max:before { content: '\e812'; } /* '' */
.hm-redo-alt:before { content: '\e813'; } /* '' */
.hm-search:before { content: '\e814'; } /* '' */
.hm-up:before { content: '\e815'; } /* '' */
.hm-wallet:before { content: '\e816'; } /* '' */
.hm-warning:before { content: '\e817'; } /* '' */
