@font-face {
  font-family: 'humamiq';
  src:
    url('fonts/humamiq.ttf?10jezr') format('truetype'),
    url('fonts/humamiq.woff?10jezr') format('woff'),
    url('fonts/humamiq.svg?10jezr#humamiq') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hm"], [class*=" hm"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'humamiq' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hmcircle-star:before {
  content: "\e918";
}
.hmcircle-xmark-solid:before {
  content: "\e919";
}
.hmarrow-left:before {
  content: "\e900";
}
.hmarrow-right:before {
  content: "\e901";
}
.hmarrow-to-bottom:before {
  content: "\e902";
}
.hmarrow-to-top:before {
  content: "\e903";
}
.hmbackspace:before {
  content: "\e904";
}
.hmcamera:before {
  content: "\e905";
}
.hmcheck-circle:before {
  content: "\e906";
}
.hmclock-arrows:before {
  content: "\e907";
}
.hmclone:before {
  content: "\e908";
}
.hmcog:before {
  content: "\e909";
}
.hmcross:before {
  content: "\e90a";
}
.hmdone:before {
  content: "\e90b";
}
.hmdouble-arrows:before {
  content: "\e90c";
}
.hmdown:before {
  content: "\e90d";
}
.hmframe:before {
  content: "\e90e";
}
.hmglobe:before {
  content: "\e90f";
}
.hmhome:before {
  content: "\e910";
}
.hmlock:before {
  content: "\e911";
}
.hmmax:before {
  content: "\e912";
}
.hmredo-alt:before {
  content: "\e913";
}
.hmsearch:before {
  content: "\e914";
}
.hmup:before {
  content: "\e915";
}
.hmwallet:before {
  content: "\e916";
}
.hmwarning:before {
  content: "\e917";
}
